<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 nav-left">
      <a class="navbar-brand" href="/dashboard">
        <i class="fas fa-comment-dollar"></i>
      </a>
    </div>
    <div class="col-md-10 nav-right">
      <h4><i class="fas fa-coins coins"></i> {{formatNumber money style="currency" currency="USD"}}</h4>
      <ul>
        <li><i class="fas fa-user-astronaut user-icon"></i> {{firstname}} {{lastname}}</li>
        <li><a id="addStock" href="" data-toggle="modal" data-target="#addStockModal"><i class="far fa-plus-square"></i></a></li>
        <li><a href="/logout"><i class="fas fa-sign-out-alt"></i></a></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-2 sidebar">
      <nav>
        {{!-- <a href="/dashboard"><i class="fas fa-tachometer-alt"></i> Dashboard</a> --}}
        {{!-- <a href="#" id="aapl"><i class="fas fa-chart-line"></i> AAPL</a>
        <a href="#" id="wmt"><i class="fas fa-chart-line"></i> WMT</a> --}}
      </nav>
      <a class="btn btn-outline-light" id="addStock" href="" data-toggle="modal" data-target="#addStockModal">Buy Stock</a>
    </div>
    <div class="col-12 col-md-10">
      <div class="row row-spacing">
        <div class="col-12 col-md-4">
          <div class="box">
            <span id="logo"></span>
            {{!-- <h3>Current Price</h3> --}}
            <h5 id="current-price"></h5>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="box">
            <h3>Purchased Price</h3>
            <h5 id="">get from db</h5>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="box">
            <h3>Purchased Quantity</h3>
            <h5 id="">get from db</h5>
          </div>
        </div>
      </div>
      <div class="row row-spacing">
        <div class="col-12 col-md-6">
          <div class="box"><div id="chartContainer" style="height: 300px; width: 100%;"></div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="box" id="news"></div>
        </div>
      </div>
      <button type="button" id="sell" class="btn btn-outline-danger">Sell Stock</button>
    </div>
  </div>
</div>

<div class="modal fade" id="addStockModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a Stock</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="symbol" class="col-form-label">Symbol</label>
            <input type="text" class="form-control" id="symbol">
          </div>
          <div class="form-group">
            <label for="quantity" class="col-form-label">Quantity</label>
            <input type="text" class="form-control" id="quantity">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Buy</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>