<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-3 sidebar">
      <h1><a href="/dashboard">SomeTitle</a></h1>
      <h2>Welcome, {{username}}</h2>
      <p>{{money}}</p>
  
      <a href="/logout">logout</a>
    </div>
    <div class="col-12 col-md-9">
      Stock info goes here.
    </div>

</div>
</div>